$font-family   : "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$font-size     : 12px;

$disable-magic-sprite-selectors:false;

$section_title_size: 24px;
$section_title_margin: 0 0 8px 0;
$more_link_size: 16px;
$more_link_padding: 0 0 0 10px;
$more_link_margin: 0 0 0 20px;
$section_container_margin: 20px 0 0 0;
$section_container_padding: 10px 5px 10px 5px;

$title_size: 16px;
$title_margin: 0 0 5px 0;

$goods_line_height: 1.4;
$goods_introduction_lines: 2;

$search_input_color: #aaa;
$reservation_number_color: #666666;
$more_color: #696969;
$grey_bg: #efefef;
$top_menu_bg: #efefef;
$border_color: #dddddd;
$white: #ffffff;
$reserve_btn_color: #e4393c;
$reserve_bg_grey: #e8e8e8;
$bottomNav_bg: #eeeeee;
$bottom_color: #727272;
$price_prev_color: #999999;
$sub_title_color: #a0a0a0;

$cyan_sub_directory: #7dcbab;
$purple_sub_directory: #9c7fe4;
$orange_sub_directory: #f9822b;